.card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 5px rgb(114, 114, 114);
    border-radius: 50px;
    padding: 5px;
    background-color: rgb(46, 46, 46);
    margin: 10px;
    position: relative;
    justify-content: center;
    display: flex;
    justify-content:space-evenly;
    word-wrap:break-word;
}
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.content {
    height: auto;
    align-self: center;
    padding: 0px;
    margin: 10px;
    width: 150px;
    height: 100px;
    /* justify-items: center; */
}
.img {
    border-radius: 50px;
    width: 90%;
    align-items: center;
    align-content: center;
    margin: 10px;
}
.badge {
    top: 10px; 
    right: 20px;
    font-size: 17px;
}
.button{
    background-color: #4CAF50; 
    border-radius: 50px;
    padding: 10px 10px;
    text-decoration:solid;
    display: inline-block;
    font-size: 16px;
    width: 40%;
    margin: 10px;
    /* transform: translateX(-50%); */
}
.button:hover {
    background-color:blue; 
    color: white; 
}  
.species{
    text-align: center;
    display: block;
	padding: 5px;
    font-size: 100%;
    color:aliceblue;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gender{
    text-align: center;
    display: block;
    font-size: 100%;
    color:aliceblue;
    word-wrap:break-word;
    padding: 5px;
    text-overflow: ellipsis;
}
.name{
    text-align: center;
    font-size: 120%;
    /* font-weight: bold; */
    color:#4CAF50;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.favorite{
    border-radius: 50px;
    padding: 10px 10px;
    text-decoration:solid;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    margin: 10px;
} 
.favorite:hover{
    background-color: red;
    color: white;
}
