img{
    text-align: center;
    align-items: center;
    /* width: 500px; */
    user-select: none;
}
div{
    text-align: center;
    padding-top: 10px 5px 5px 5px;
    margin: 5px;
    user-select: none;
}