.containt{
    width: 100%;
    height: 100%;
    /* margin:0px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-image: url("https://cdn.pocket-lint.com/r/s/1200x630/assets/images/162179-tv-news-feature-rick-and-morty-season-6-release-date-trailer-and-how-to-watch-image1-kbmgzwpsy5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.header{
    /* width:fit-content ;
    height: 100%;
    margin:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: none;
    align-content: center;
    overflow:-moz-hidden-unscrollable; */
    
    
}
.App{
    padding: '25px';
}
img {
    display: block;
    margin: auto;
}
/* div_body{
    margin: 0 auto;
} */
/* .barra{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
    display: grid;
    border: 1px;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    border-radius: 20px;
} */
/* .header__image{ */
    /* width:100% ;
    height: 100%; */
    /* margin:15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: none;
    align-content: center;
    overflow:auto;
    display: flex; */
