.detail{
    width: 1000px;
    height: max-content;
    border-radius: 50px;
    border: 1px solid black;
    padding: 30px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    justify-content: center;
    display: grid;
    color: antiquewhite;
    background-image: url('https://thumbs.gfycat.com/GoodnaturedColorlessDuckbillplatypus-size_restricted.gif');
}
.img{
    border-radius: 50px;
    
}
.name{
    color: aqua;
}
.button{
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    box-shadow: 0 9px #999;
}
.button:hover {
    background-color: blue;
    color:white;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.link{
    text-decoration: none;
    color:black;
    padding: 10px;
    align-items: left;
    display: inline-block;
}

.label{
    font-size: 26px;
}