.Nav{
    display:inline;
    width: 100px;
    border: 10px solid #555;
    text-align: center;
    border-bottom: 10px solid #555;
    padding: 18px;
    background-color: #dddddd;
    float: left;

}