

.intro{
    background-image: url(); /* https://images.alphacoders.com/876/876589.jpg */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  
  .intro_logo{
    position: relative;
  }
  
  .intro_container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .intro_portalsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  .intro_portalLink{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-family: 'Rick and Morty font';
    width: 160px;
    cursor: pointer;
    animation-name: rotate;
    animation-duration: 2s;
  }
  
  
  @keyframes rotation{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  .intro_portalLink .intro_portalImg{
    animation: rotation 10s infinite linear;
  }
  
  .intro_portalImg{
    border: none;
  }
  
  .intro_portalLink:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  .intro_string{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 110px;
    cursor: pointer;
  }
  
  .change_account{
    bottom: 110px;
  }
  
  @media(max-width: 700px){
    .intro_logo{
        width: 90%;
    }
    .intro_portalImg{
      width: 140px;
    }
    
  } 
  
  @media(max-width: 800px){
    .intro_portalsContainer{
      grid-template-columns: repeat(2, 1fr);
    }
    .intro_string{
      bottom: 100px;
    }
    .about_portal{
      bottom: 80px;
    }
    .change_account{
      bottom: 100px;
      right: 5px;
    }
    .intro_portalLink{
      height: 120px;
    }
    .characters_portal{
      bottom: 80px;
      right: 10px;
    }
    .intro{
      background-image: url(); 
    }
    .intro_container{
      height: 80%;
    }
    
  }
  